body {
    background-color: black;
}

.mainvideo {
    right: 50%;
    bottom: 55%;
    transform: translate(50%, 50%);
    height: 70vh;
    position: absolute;
}

p {
    color: rgb(229, 183, 78);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8vh;
}

.align-center {
    text-align: center;
}

.footer {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
}

.ima-link img {
    height: 10vh;
}

a {
    text-decoration: none;
}

ul {
    display: inline-block;
    transform: translate(-12%, 0%);
    text-align: center;
}

li {
    float: left;
    margin: 0 auto;
}